header {
    background: linear-gradient(#002c5355, #002c5350, #002c5345);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.05),
        -2px 2px 2px rgba(100, 100, 100, 0.1),
        2px -2px 2px rgba(100, 100, 100, 0.1);
    display: flex;
    position: sticky;
    top: 0rem;
    z-index: 10;
    padding: 0.5rem;
    margin-bottom: 2%;
}

img {
    max-width: 3.3rem;
}

h1 {
    margin: 0;
    padding: 0;
    color: #0b373f;
}

#institution,
#control-panel {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 40%;
}

nav > ul > li > a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin: 0;
}

#disconnect {
    margin: 0;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
